@charset "UTF-8";
/* laurel v1.0.0 | by shingchi | rushi.pub */
/* minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
ul {
  list-style: none;
}
button,
input,
select,
textarea {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
img,
video {
  height: auto;
  max-width: 100%;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
td:not([align]),
th:not([align]) {
  text-align: left;
}
@font-face {
  font-family: 'Biaodian Pro Sans GB';
  src: local('Hiragino Sans GB'), local('Heiti SC'), local(STHeiti), local('MS Gothic'), local(SimSun);
  unicode-range: U+FF0E;
}
@font-face {
  font-family: 'Biaodian Pro Serif GB';
  src: local('Hiragino Mincho ProN'), local('Hiragino Mincho Pro'), local('Songti SC'), local(STSong), local(SimSun);
  unicode-range: U+FF0E;
}
@font-face {
  font-family: 'Biaodian Pro Sans GB';
  src: local('Hiragino Sans GB'), local('Heiti SC'), local(STHeiti), local(SimSun);
  unicode-range: U+00B7;
}
@font-face {
  font-family: 'Biaodian Pro Serif GB';
  src: local('Songti SC'), local(STSong), local('Heiti SC'), local(SimSun);
  unicode-range: U+00B7;
}
@font-face {
  font-family: 'Biaodian Pro Sans GB';
  src: $han-webfont, local('Hiragino Sans GB'), local('Hiragino Kaku Gothic ProN'), local('Hiragino Kaku Gothic Pro'), local('Microsoft Yahei'), local(SimSun);
  unicode-range: U+2014;
}
@font-face {
  font-family: 'Biaodian Pro Serif GB';
  src: $han-webfont, local('Hiragino Mincho ProN'), local('Hiragino Mincho Pro'), local('Songti SC'), local(STSong), local('Microsoft Yahei'), local(SimSun);
  unicode-range: U+2014;
}
@font-face {
  font-family: 'Biaodian Pro Sans GB';
  src: $han-webfont, local('Hiragino Sans GB'), local('Hiragino Kaku Gothic ProN'), local('Hiragino Kaku Gothic Pro'), local(SimSun), local(PMingLiU);
  unicode-range: U+2026;
}
@font-face {
  font-family: 'Biaodian Pro Serif GB';
  src: $han-webfont, local('Hiragino Mincho ProN'), local('Hiragino Mincho Pro'), local('Songti SC'), local(STSongti), local(SimSun), local(PMingLiU);
  unicode-range: U+2026;
}
@font-face {
  font-family: 'Biaodian Pro Sans GB';
  src: local('Hiragino Sans GB'), local('Heiti SC'), local(STHeiti), local(SimSun), local(PMingLiU);
  unicode-range: U+201C-201D, U+2018-2019;
}
@font-face {
  font-family: 'Biaodian Pro Sans GB';
  font-weight: bold;
  src: local('Hiragino Sans GB'), local('Heiti SC'), local(STHeiti), local(SimSun), local(PMingLiU);
  unicode-range: U+201C-201D, U+2018-2019;
}
@font-face {
  font-family: 'Biaodian Pro Serif GB';
  src: local('Lisong Pro'), local('Heiti SC'), local(STHeiti), local(SimSun), local(PMingLiU);
  unicode-range: U+201C-201D, U+2018-2019;
}
@font-face {
  font-family: 'Biaodian Pro Serif GB';
  font-weight: bold;
  src: local('Lisong Pro'), local('Heiti SC'), local(STHeiti), local(SimSun), local(PMingLiU);
  unicode-range: U+201C-201D, U+2018-2019;
}
@font-face {
  font-family: 'Biaodian Pro Sans GB';
  src: local(Georgia), local('Times New Roman'), local(Arial), local('Droid Sans Fallback');
  unicode-range: U+25CF;
}
@font-face {
  font-family: 'Biaodian Pro Serif GB';
  src: local(Georgia), local('Times New Roman'), local(Arial), local('Droid Sans Fallback');
  unicode-range: U+25CF;
}
@font-face {
  font-family: 'Biaodian Pro Sans GB';
  src: local('Hiragino Sans GB'), local('Heiti SC'), local(STHeiti), local('Hiragino Kaku Gothic ProN'), local('Hiragino Kaku Gothic Pro'), local(SimSun), local('MS Gothic');
  unicode-range: U+3002, U+FF0C, U+3001, U+FF1B, U+FF1A, U+FF1F, U+FF01, U+FF0D, U+FF0F, U+FF3C;
}
@font-face {
  font-family: 'Biaodian Pro Serif GB';
  src: local('Songti SC'), local(STSongti), local('Hiragino Mincho ProN'), local('Hiragino Mincho Pro'), local('Hiragino Sans GB'), local('Heiti SC'), local(STHeiti), local(SimSun), local('MS Mincho');
  unicode-range: U+3002, U+FF0C, U+3001, U+FF1B, U+FF1A, U+FF1F, U+FF01;
}
@font-face {
  font-family: 'Biaodian Pro Serif GB';
  src: local('Hiragino Mincho ProN'), local('Hiragino Mincho Pro'), local(PMingLiU), local('MS Mincho');
  unicode-range: U+FF0D, U+FF0F, U+FF3C;
}
@font-face {
  font-family: 'Biaodian Pro Sans GB';
  src: local('Hiragino Kaku Gothic ProN'), local('Hiragino Kaku Gothic Pro'), local('Yu Gothic'), local(YuGothic), local(SimSun), local(PMingLiU);
  unicode-range: U+300C-300F, U+300A-300B, U+3008-3009, U+FF08-FF09, U+3014-3015;
}
@font-face {
  font-family: 'Biaodian Pro Serif GB';
  src: local('Hiragino Mincho ProN'), local('Hiragino Mincho Pro'), local('Yu Mincho'), local(YuMincho), local(SimSun), local(PMingLiU);
  unicode-range: U+300C-300F, U+300A-300B, U+3008-3009, U+FF08-FF09, U+3014-3015;
}
@font-face {
  font-family: 'Han Songti GB';
  src: local('Songti SC Regular'), local(STSongti-SC-Regular), local('Songti SC'), local(STSong), local(SimSun), local(PMingLiU);
}
@font-face {
  font-family: 'Han Songti GB';
  font-weight: 600;
  src: local('STSongti SC Bold'), local(STSongti-SC-Bold), local('STSongti SC');
}
@font-face {
  font-family: 'Han Heiti GB';
  src: local('Hiragino Sans GB'), local('Pingfang SC Light'), local('Pingfang-SC-Light'), local('Pingfang SC'), local('Lantinghei SC Extralight'), local('FZLTXHK--GBK1-0'), local('Lantinghei SC'), local('Heiti SC Light'), local('STHeitiSC-Light'), local('Heiti SC'), local('Microsoft Yahei'), local('Noto Sans CJK SC'), local('Source Han Sans SC'), local('Source Han Sans CN'), local('Droid Sans Fallback');
}
@font-face {
  font-family: 'Han Heiti GB';
  font-weight: 600;
  src: local('Hiragino Sans GB W6'), local('HiraginoSansGB-W6'), local('Pingfang SC Semibold'), local('Pingfang-SC-Semibold'), local('Lantinghei SC Demibold'), local('FZLTZHK--GBK1-0'), local('Heiti SC Medium'), local('STHeitiSC-Medium'), local('Heiti SC'), local('Microsoft Yahei Bold'), local('MicrosoftYahei-Bold'), local('Microsoft Yahei'), local('Noto Sans CJK SC Bold'), local('NotoSansCJKsc-Bold'), local('Noto Sans CJK SC'), local('Source Han Sans SC Bold'), local('SourceHanSansSC-Bold'), local('Source Han Sans CN Bold'), local('SourceHanSansCN-Bold'), local('Source Han Sans SC'), local('Source Han Sans CN');
}
@font-face {
  font-family: 'Han Kaiti GB';
  src: local('Kaiti SC Regular'), local(STKaiTi-SC-Regular), local('Kaiti SC'), local(STKaiti), local(Kai), local(Kaiti), local(DFKai-SB);
  @include han-range-cjk;
}
@font-face {
  font-family: 'Han Kaiti GB';
  font-weight: 600;
  src: local('Kaiti SC Bold'), local(STKaiti-SC-Bold);
}
::selection {
  color: #fff;
  background: #262a30;
}
html {
  overflow-y: scroll;
  font-size: 10px;
}
body {
  color: #424b50;
  line-height: 1.7;
  font-family: 'Biaodian Pro Sans GB', 'Helvetica Neue', Helvetica, Arial, 'Han Heiti GB', sans-serif;
  -webkit-font-smoothing: antialiased;
}
body:before,
body:after {
  position: fixed;
  line-height: 100%;
  color: #f5f5f5;
  font-size: 42rem;
  font-family: Georgia, 'Times New Roman', 'Han Kaiti GB', serif;
  text-align: center;
  z-index: -100;
}
body:before {
  content: "\5982";
  top: -15rem;
  right: -5rem;
  transform: rotate(-10deg);
}
body:after {
  content: "\662f";
  right: -13rem;
  top: 15rem;
  transform: rotate(15deg);
}
a {
  color: #551a8b;
  text-decoration: none;
}
a:hover {
  border-bottom: 1px solid;
}
.container {
  max-width: 42em;
  margin: 0 auto;
}
.nav {
  padding: 0.5em 0;
}
.nav li {
  display: inline-block;
}
.nav li.nav-item-actived a {
  border-bottom: 1px solid;
}
.nav li + li:before {
  content: "\002f";
  padding-right: 0.5em;
  padding-left: 0.5em;
  color: #ccc;
}
.main {
  margin-top: 8rem;
}
.recent header {
  margin-bottom: 3rem;
  text-align: center;
}
.recent h2 {
  line-height: 1;
  font-size: 1.8em;
  font-weight: bold;
}
.recent h2 a:hover {
  border-bottom-width: 2px;
}
.recent .recent-meta {
  margin-bottom: 0.5em;
  color: #b7b7b7;
  font-size: 80%;
}
.post-list {
  margin-top: 5rem;
}
.post-list li {
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 1px solid #ebebeb;
}
.post-list li:last-child {
  border-bottom: 1px solid #ebebeb;
}
.post-list li a,
.post-list li time {
  flex-grow: 1;
}
.post-list li a {
  width: 80%;
  height: 1.7em;
  overflow: hidden;
}
.post-list li a:hover {
  border-bottom: none;
  color: #0e73b8;
}
.post-list li time {
  width: 20%;
  transform: translateY(5px);
  color: #b7b7b7;
  font-size: 80%;
  text-align: right;
}
.read-more {
  padding-top: 1rem;
  text-align: center;
}
.article {
  counter-reset: chi-article-h2 chi-article-h3 chi-article-h4;
  margin-bottom: 3em;
}
.article a {
  margin-right: 0.2em;
  margin-left: 0.2em;
  color: #0e73b8;
}
.article p,
.article blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}
.article h1 {
  margin-top: 3em;
  margin-bottom: 1.5em;
  font-size: 2em;
  line-height: 1.4;
  font-weight: bold;
  text-align: center;
}
.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: bold;
}
.article h2 + *,
.article h3 + *,
.article h4 + *,
.article h5 + *,
.article h6 + * {
  margin-top: -1em;
}
.article h2 a,
.article h3 a,
.article h4 a,
.article h5 a,
.article h6 a {
  margin: 0;
}
.article h2 {
  font-size: 1.5em;
}
.article h2:not(.toc) {
  counter-reset: chi-article-h3 chi-article-h4;
}
.article h2:not(.toc):before {
  content: counter(chi-article-h2, cjk-ideographic) "、";
  counter-increment: chi-article-h2;
}
.article h2.special:before {
  content: none;
}
.article h3 {
  font-size: 1.125em;
}
.article h3:not(.toc) {
  counter-reset: chi-article-h4;
}
.article h3:not(.toc):before {
  content: counter(chi-article-h2) "." counter(chi-article-h3) "　";
  counter-increment: chi-article-h3;
}
.article h4 {
  font-size: 1em;
}
.article h4:not(.toc):before {
  content: counter(chi-article-h2) "." counter(chi-article-h3) "." counter(chi-article-h4) "　";
  counter-increment: chi-article-h4;
}
.article ul,
.article ol {
  padding-left: 2em;
}
.article ul li {
  list-style-type: square;
}
.article blockquote {
  margin-right: 2em;
  margin-left: 2em;
  font-family: Georgia, 'Times New Roman', 'Han Kaiti GB', serif;
}
.article blockquote p {
  margin-top: 0.625em;
  margin-bottom: 0.4em;
}
.article blockquote footer strong {
  margin-left: 0.2em;
  font-weight: normal;
}
.article blockquote footer:before {
  content: "\2014\2014";
}
.article blockquote footer cite:before {
  content: "\300a";
}
.article blockquote footer cite:after {
  content: "\300b";
}
.article code,
.article kbd,
.article pre,
.article samp {
  font-size: 0.8em;
  line-height: 1.2;
  font-family: Menlo, Monaco, Consolas, Courier, monospace;
  white-space: pre;
}
.article cite,
.article em,
.article dfn {
  font-style: normal;
}
.article em {
  -webkit-text-emphasis: filled circle;
  -moz-text-emphasis: filled circle;
  -ms-text-emphasis: filled circle;
  text-emphasis: filled circle;
  -webkit-text-emphasis-position: under;
  -moz-text-emphasis-position: under;
  -ms-text-emphasis-position: under;
  text-emphasis-position: under;
}
.article abbr {
  cursor: help;
}
.article ins,
.article u,
.article abbr {
  padding-bottom: 0.02em;
  border-bottom-width: 0.1em;
  text-decoration: none;
}
.article ins,
.article u {
  border-bottom-style: solid;
}
.article abbr {
  border-bottom-style: dotted;
}
.article mark {
  color: #424b50;
}
.article img {
  display: block;
  max-width: 100%;
}
.article figure {
  position: relative;
  margin-right: 0;
  margin-left: 0;
}
.article figcaption {
  position: absolute;
  top: 0;
  left: -9.5em;
  width: 8em;
  color: rgba(0,0,0,0.6);
  font-size: 0.875em;
  line-height: 1.4;
  font-family: Georgia, 'Times New Roman', 'Han Kaiti GB', serif;
  text-align: right;
  letter-spacing: 0.01rem;
}
.article figcaption:before {
  content: "";
  display: block;
  width: 25%;
  margin-bottom: 0.5em;
  margin-left: 75%;
  border-top: 1px solid #ccc;
}
.friends {
  margin-left: 3rem;
}
.special {
  margin-bottom: 2em;
}
.timeline {
  margin-left: 2rem;
  padding-left: 3rem;
  border-left: 3px solid #b0bec5;
}
.timeline h2,
.timeline h3 {
  margin-top: 1.2em;
  font-weight: bold;
}
.timeline h2 {
  font-size: 1.5em;
}
.timeline h3 {
  font-size: 1.125em;
}
.timeline .timeline-year,
.timeline .timeline-item-time,
.timeline .timeline-title span {
  font-family: 'Biaodian Pro Serif GB', Georgia, 'Times New Roman', 'Han Songti GB', serif;
}
.timeline .timeline-item-time {
  margin-right: 0.8em;
  color: #b7b7b7;
}
.timeline .timeline-title,
.timeline .timeline-year,
.timeline .timeline-item {
  position: relative;
}
.timeline .timeline-item {
  margin-top: 0.3em;
}
.timeline .timeline-title:before,
.timeline .timeline-year:before,
.timeline .timeline-item:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-style: solid;
  border-color: #b0bec5;
  border-radius: 50%;
  background: #fff;
  transition: all 0.3s ease;
}
.timeline .timeline-title::before {
  left: -4rem;
  width: 1.8rem;
  height: 1.8rem;
  border-width: 4px;
}
.timeline .timeline-year::before {
  left: -3.8rem;
  width: 1.4rem;
  height: 1.4rem;
  border-width: 3px;
}
.timeline .timeline-item::before {
  left: -3.7rem;
  width: 1.2rem;
  height: 1.2rem;
  border-width: 2px;
}
.timeline-title:hover::before,
.timeline-year:hover::before,
.timeline-item:hover::before {
  border-color: #2196f3;
}
.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}
.pagination .placeholder {
  height: 0;
}
.pagination .prev a:before {
  content: "\00ab";
  padding-right: 0.5rem;
}
.pagination .next a:after {
  content: "\00bb";
  padding-left: 0.5rem;
}
.cc {
  color: rgba(0,0,0,0.6);
  font-size: 80%;
  text-align: center;
}
.cc a {
  color: inherit;
}
.footer {
  margin: 5em auto 0;
  padding: 3em 0;
  background-color: #656d78;
  color: #fff;
}
.footer a {
  color: inherit;
}
.scrollbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 2px;
  z-index: 1000;
  background: #29d;
  box-shadow: 0 0 2px #29d;
  transition: width 200ms ease 0s;
}
.scrolltop {
  display: none;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  padding: 6px;
  border-radius: 2px;
  background: #e9ecef;
  line-height: 1;
  font-size: 18px;
  cursor: pointer;
}
.scrolltop:hover {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
}
.scrolltop:before {
  content: '\25B2';
}
@media screen and (max-width: 767px) {
  body {
    font-size: 1.6rem;
  }
  .container {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  .main {
    margin-top: 2rem;
  }
  .article h1 {
    margin-top: 2em;
    font-size: 1.5em;
  }
  .article h2 {
    font-size: 1.25em;
  }
  .timeline h2 {
    font-size: 1.25em;
  }
  .pagination {
    flex-direction: column;
  }
  .timeline-item-time {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    font-size: 1.8rem;
  }
  .container {
    padding-right: 4rem;
    padding-left: 4rem;
  }
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 2rem;
  }
  .container {
    padding-right: 4rem;
    padding-left: 4rem;
  }
}
pre,
.highlight {
  background: #f7f7f7;
  margin: 20px 0;
  padding: 10px 15px;
  overflow: auto;
  color: #4d4d4c;
  line-height: 1.6;
}
.highlight .gutter pre {
  color: #666;
}
pre,
code {
  font-family: "PT Mono", Consolas, Monaco, Menlo, monospace;
}
code {
  background: #eee;
  text-shadow: 0 1px #fff;
  padding: 0 0.3em;
}
pre code {
  background: none;
  text-shadow: none;
  padding: 0;
}
.highlight pre {
  border: none;
  margin: 0;
  padding: 0;
}
.highlight table {
  margin: 0;
  width: auto;
  border: none;
}
.highlight td {
  border: none;
  padding: 0;
}
.highlight figcaption {
  font-size: 0.85em;
  color: #8e908c;
  line-height: 1em;
  margin-bottom: 1em;
}
.highlight figcaption:before,
.highlight figcaption:after {
  content: " ";
  display: table;
}
.highlight figcaption:after {
  clear: both;
}
.highlight figcaption a {
  float: right;
}
.highlight .gutter pre {
  text-align: right;
  padding-right: 20px;
}
.highlight .line {
  height: 20px;
}
pre .comment {
  color: #8e908c;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #c82829;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f5871f;
}
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #718c00;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #718c00;
}
pre .title,
pre .css .hexcolor {
  color: #3e999f;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #4271ae;
}
pre .keyword,
pre .javascript .function {
  color: #8959a8;
}
